@font-face {
  font-family: 'redacted-script';
  src: url('../../fonts/RedactedScript-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

header {
  margin-bottom: 1em;
}

.logo {
  margin-top: 2em;
  width: 4em;
}

details {
  &[open] {
    background-color: #d6dae4;
  }

  li {
    list-style-type: disc;
  }

  div {
    padding: 0.5em;
    background-color: #d6dae4;
  }
  *:last-child, p {
    margin-bottom: 0;
  }
}

.content_block {
  outline: 1px solid #fff;
  background-color: #eff4ff;
  margin-bottom: 0.3em;
  padding: 1em 1.5em;
  position: relative;
  min-height: 3em;

  h2.label {
    margin-top: 0;
  }

  a {
    text-decoration: underline;
  }
}

.lipsum {
  font-family: 'redacted-script', sans-serif;
}