.logo {
  margin-top: 2em;
  width: 4em;
}

header {
  background-color: #BFC7D9;
}

.hierarchy {
  background-color: #141C26;
}

.summary {
  background-color: #3F4B59;
}

.title {
  background-color: #6D7B8C;
}

.image_viewer_call_to_action {
  background-color: #8694A6;
}