<div class="container">
    <div class="row">
        <div class="col content_block">
            <h2 class="label">Breadcrumb</h2>
            <details>
                <summary>Purpose</summary>
                <div>
                    <p>Dynamic breadcrumb which shows</p>
                    <ul>
                        <li>The catalogue reference for the current item</li>
                        <li>The mechanism used to reach this item (i.e. 'Catalogue search').</li>
                    </ul>
                    <p>This is assumed to be dynamic in that 'Catalogue search' would presumably not be shown if the
                        user accessed the item directly from Google or, a hub page or another mechanism</p>
                </div>
            </details>
            <details>
                <summary>Applies to</summary>
                All items in the catalogue
            </details>
        </div>
    </div>
</div>
