<div class="container">
    <div class="row">
        <div class="col content_block">
            <h2 class="label">Browse</h2>
            <details>
                <summary>Purpose</summary>
                <div>
                    <p>Allows user to browse by:</p>
                    <ul>
                        <li>Navigating to the item's adjacent siblinks</li>
                        <li>Linking to a browse tool</li>
                        <li>Listing of the item's first 10 children</li>
                    </ul>
                </div>
            </details>
            <details>
                <summary>Applies to</summary>
                All items in the catalogue
            </details>
        </div>
    </div>
</div>
