<div class="container">
    <div class="row">
        <div class="col content_block">
            <h2 class="label">Catalogue description</h2>
            <p>Includes: reference</p>
            <p>May include:  description, held by, legal status, closure status, series, division, department, administrative background, series description, access conditions, language, physical description extent, physical description form</p>
            <details>
                <summary>Purpose</summary>
                Shows fields from catalogue description with hyperlinked entities
            </details>
            <details>
                <summary>Applies to</summary>
                All archival items
            </details>
        </div>
    </div>
</div>