<div class="container">
    <div class="row">
        <div class="col content_block">
            <h2 class="label">Catalogue introduction</h2>
            <details>
                <summary>Purpose</summary>
                This block does three things:
                <ul>
                    <li>Introduces the catalogue and which archives it covers</li>
                    <li>Links to a guide to using the catalogue</li>
                    <li>Links to a tool that allows users to find records on a specific topic</li>
                </ul>
            </details>
            <details>
                <summary>Applies to</summary>
                All items in the catalogue
            </details>
        </div>
    </div>
</div>
