<div class="container">
    <div class="row">
        <div class="col content_block">
            <h2 class="label">Help</h2>
            <details>
                <summary>Purpose</summary>
                <div>
                    <p>Tool which allows users to:</p>
                    <ul>
                        <li>See previously visited pages</li>
                        <li>Get help using this page
                            <ul>
                                <li>Link to research guide</li>
                                <li>Glossary of terms</li>
                                <li>Tutorial for records pages</li>
                                <li>Contact us for advice</li>
                            </ul>
                        </li>
                        <li>See suggested next steps
                            <ul>
                                <li>Related records and series</li>
                                <li>Related research guides</li>
                                <li>'Search for more information'</li>
                                <li>Stories, blogs and podcasts</li>
                            </ul>
                        </li>
                        <li>See a 'tip from our experts' with link to 'full guide'</li>
                    </ul>
                </div>
            </details>
            <details>
                <summary>Application</summary>
                All items in the catalogue
            </details>
        </div>
    </div>
</div>
