<div class="container">
    <div class="row">
        <div class="col content_block">
            <h2 class="label">How to view this record</h2>
            <details>
                <summary>Purpose</summary>
                Lists access options for the current item and provides directions to The National Archives
            </details>
            <details>
                <summary>Applies to</summary>
                Archival items that can be 'accessed'. This presumably would not include things like departments.
            </details>
        </div>
    </div>
</div>