<div class="container">
    <div class="row">
        <div class="col summary content_block">
            <h2 class="label">Record summary</h2>
            <details>
                <summary>Purpose</summary>
                Shows a human-readable summary of the archival item. It identifies the related entity, the parent series and the document date.
            </details>
            <details>
                <summary>Application</summary>
                To be confirmed
            </details>
            <details>
                <summary>Notes</summary>
                There is currently no summary shown on the <a href="https://alpha.nationalarchives.gov.uk/journey/record/ADM/321/2/1">page for this item</a> delivered during Alpha
            </details>
        </div>
    </div>
</div>
