<div class="container">
    <div class="row">
        <div class="col title content_block">
            <h2 class="label">Record title</h2>
            <details>
                <summary>Purpose</summary>
                To show the title for the archival item
            </details>
            <details>
                <summary>Applies to</summary>
                All archival items
            </details>
            <details>
                <summary>Notes</summary>
                Some items either do not have a title or have a meaningless title. The approach in Discovery has been to
                display a truncated description in these cases
            </details>
        </div>
    </div>
</div>