{% extends "layout.html" %}

{% block content%}
<main>
    <div class="container">
        <div class="row">
            <div class="tna-page__header col">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>This starter template was created using the <a href="https://github.com/nationalarchives/alpha-prototype-starter">Alpha prototype starter</a> repository</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}