<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    {% include 'includes/hierarchy.html' %}
    {% include 'includes/title.html' %}
    {% include 'includes/summary.html' %}
    {% include 'includes/image_viewer_call_to_action.html' %}
    {% include 'includes/held_at.html' %}
    {% include 'includes/catalogue_description.html' %}
    {% include 'includes/access_options.html' %}
    {% include 'includes/where_am_i.html' %}
    {% include 'includes/related_content.html' %}
    {% include 'includes/browse_related_topics.html' %}
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='scripts/dist/index.js') }}"></script>
</body>
</html>